/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */
 
// Author: Ryan H.
// Filename: urchin.keymap
// Keymap settings for an Urchin.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Define layers as numbers
#define BASE 0
#define LOWER 1
#define UPPER 2
#define SYSTEM 3

// Macros:
#define meh LC(LS(LALT))
#define hyper LC(LS(LA(LGUI)))

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
            global-quick-tap-ms = <QUICKTAP>; \
        };

&lt {
    tapping-term-ms = <150>;
};

&mt {
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

    combos {
        compatible = "zmk,combos";
        COMBO(bspc,  &kp BSPC,  6 7,   BASE, 40, 200)
        COMBO(del,   &kp DEL,   7 8,   BASE, 40, 200)
        COMBO(esc,   &kp ESC,   0 10,  BASE, 40, 200)
        COMBO(pscrn, &kp PSCRN, 10 20, BASE, 40, 200)
        COMBO(tab,   &kp TAB,   12 13, BASE, 40, 200)
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER UPPER>;
            then-layer = <SYSTEM>;
        };
    };

    macros {
        dw: delete_word {
            label = "DELETE_WORD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label ="Base";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
           &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ENTER   │
           &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LGUI Z  │  LALT X  │  C       │  V       │  B       │   │  N       │  M       │ , <      │ RALT . > │ RGUI / ? │
           &hm LGUI Z &hm LALT X &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &hm RALT DOT &hm RGUI FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LCTRL &lt LOWER SPACE &mo UPPER  &kp RSHFT
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  1 !     │  2 @     │  3 #     │  4 $     │  5 %     │   │  6 ^     │  7 &     │  8 *     │  9 (     │  0 )     │
           &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  [       │  ]       │  '       │  `       │   │  -       │  =       │  \       │  ;       │          │
           &none      &kp LBKT   &kp RBKT   &kp SQT    &kp GRAVE      &kp MINUS  &kp EQUAL  &kp BSLH   &kp SEMI   &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  {       │  }       │  "       │  ~       │   │  _       │  +       │  |       │  :       │  hyper   │
           &none      &kp LBRC   &kp RBRC   &kp DQT    &kp TILDE      &kp UNDER  &kp PLUS   &kp PIPE   &kp COLON  &kp hyper
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        upper_layer {
            label = "Upper";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F1      │  F2      │  F3      │  F4      │  F5      │   │          │          │          │          │          │
           &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &none      &none      &none      &none      &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F6      │  F7      │  F8      │  F9      │  F10     │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  meh     │
           &kp F6     &kp F7     &kp F8     &kp F9     &kp F10        &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp meh
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F11     │  F12     │  F13     │  F14     │  F15     │   │  HOME    │  PG DOWN │  PG UP   │  END     │          │
           &kp F11    &kp F12    &kp F13    &kp F14    &kp F15        &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                      		&trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        system_layer {
            label = "System";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │PROFILE 0 │          │PROFILE 3 │              │  VOL UP  │          │          │  RESET   │
           &sys_reset &none     &bt BT_SEL 0  &none   &bt BT_SEL 3    &none      &kp C_VOL_UP &none    &none      &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │PROFILE 1 │          │PROFILE 4 │   │  PP      │  VOL DN  │          │          │BOOTLOADER│
          &bootloader &none     &bt BT_SEL 1  &none   &bt BT_SEL 4    &kp C_PP   &kp C_VOL_DN &none    &none      &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │PROFILE 2 │          │ CLEAR BT │   │          │  PREV    │  NEXT    │          │          │
           &none      &none     &bt BT_SEL 2  &none   &bt BT_CLR      &none      &kp C_PREV &kp C_NEXT &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
