/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */
 
// Author: Ryan H.
// Filename: urchin.keymap
// Keymap settings for an Urchin.

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Define layers as numbers
#define BASE 0
#define LOWER 1
#define UPPER 2
#define SYSTEM 3

// Macros:
#define meh LC(LS(LALT))
#define hyper LC(LS(LA(LGUI)))

&lt {
    tapping-term-ms = <150>;
};

&mt {
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    // combos {
    //     compatible = "zmk,combos";
    //     combo_esc {
    //         timeout-ms = <50>;
    //         key-positions = <0 1>; // Q+W
    //         bindings = <&kp ESC>;
    //     };
    //     combo_tab {
    //         timeout-ms = <50>;
    //         key-positions = <10 11>; // A+S
    //         bindings = <&kp TAB>;
    //     };
    // };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER UPPER>;
            then-layer = <SYSTEM>;
        };
    };

    macros {
        dw: delete_word {
            label = "DELETE_WORD";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LCTRL>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label ="Base";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
           &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ; :     │
           &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LGUI Z  │  LALT X  │  C       │  V       │  B       │   │  N       │  M       │ , <      │ RALT . > │ RGUI / ? │
           &hm LGUI Z &hm LALT X &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &hm RALT DOT &hm RGUI FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp LCTRL &lt LOWER SPACE &mo UPPER  &kp RSHFT
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │          │  PSCRN   │  TAB     │ CAPSWORD │   │          │  [ {     │  ] }     │  DEL     │  BSPC    │
           &kp ESC    &none      &kp PSCRN  &kp TAB    &caps_word     &none      &kp LBKT   &kp RBKT   &kp DEL    &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  1 !     │  2 @     │  3 #     │  4 $     │  5 %     │   │  ' "     │  - _     │  = +     │  \ |     │          │
           &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp SQT    &kp MINUS  &kp EQUAL  &kp BSLH   &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  6 ^     │  7 &     │  8 *     │  9 (     │  0 )     │   │  ` ~     │  >       │          │          │  hyper   │
           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0         &kp GRAVE  &kp GT     &none      &none      &kp hyper
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        upper_layer {
            label = "Upper";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F1      │  F2      │  F3      │  F4      │  F5      │   │          │          │          │  DEL     │  BSPC    │
           &kp F1     &kp F2     &kp F3     &kp F4     &kp F5         &none      &none      &none      &kp DEL    &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F6      │  F7      │  F8      │  F9      │  F10     │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │  RETURN  │
           &kp F6     &kp F7     &kp F8     &kp F9     &kp F10        &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp RET
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F11     │  F12     │  F13     │  F14     │  F15     │   │  HOME    │  PG DOWN │  PG UP   │  END     │          │
           &kp F11    &kp F12    &kp F13    &kp F14    &kp F15        &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                      		&kp meh    &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        system_layer {
            label = "System";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │PROFILE 0 │          │PROFILE 3 │              │  VOL UP  │          │          │  RESET   │
           &sys_reset &none     &bt BT_SEL 0  &none   &bt BT_SEL 3    &none      &kp C_VOL_UP &none    &none      &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │PROFILE 1 │          │PROFILE 4 │   │  PP      │  VOL DN  │          │          │BOOTLOADER│
          &bootloader &none     &bt BT_SEL 1  &none   &bt BT_SEL 4    &kp C_PP   &kp C_VOL_DN &none    &none      &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │PROFILE 2 │          │ CLEAR BT │   │          │  PREV    │  NEXT    │          │          │
           &none      &none     &bt BT_SEL 2  &none   &bt BT_CLR      &none      &kp C_PREV &kp C_NEXT &none      &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
